<div class="row">
    <h1>Expereiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nemo assumenda sint dolorem maxime quibusdam fuga earum voluptatem eligendi iusto id reiciendis praesentium, natus obcaecati harum non veritatis voluptatibus. Odit.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nemo assumenda sint dolorem maxime quibusdam fuga earum voluptatem eligendi iusto id reiciendis praesentium, natus obcaecati harum non veritatis voluptatibus. Odit.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nemo assumenda sint dolorem maxime quibusdam fuga earum voluptatem eligendi iusto id reiciendis praesentium, natus obcaecati harum non veritatis voluptatibus. Odit.
            </p>
        </ul>
    </div>
</div>
