<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Tangola</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, officiis incidunt. Similique nostrum ipsam voluptas at culpa nesciunt omnis laboriosam illo quos asperiores quae excepturi, aliquid ratione. Eum, doloremque iste!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-md-3 offset-md-1 offset-lg-1 parte2">
            <a href="https://www.engormix.com/ganaderia-carne/articulos/acumulacion-biomasa-variacion-calidad-t51864.htm"><img src="../../../assets/Proyecto.png" class="img-fluid img-proyecto"></a>
        </div>
    </div>
</div>