<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/roiso.2/"><img src="../../../assets/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/rodriguito.isolini"><img src="../../../assets/facebook.png" alt="facebook"></a>
            <a href="https://twitter.com/roisov2"><img src="../../../assets/twitter.png" alt="twitter"></a>
            <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>
