<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil 3.jpeg"class="img-fluid" id="fotodeperfil">
</div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Isolini Vargas Rodrigo Nahuel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Tengo 24 años, vivo en Formosa Capital,
                Soy estudiante de la carrera de Ing. Zootecnista en la universidad Nacional de Formosa.
                Tecnico en Prduccion Agropecuaria.
                Cursando el programa de ARGENTINA PROGRAMA edicion 2022/2023. 
                De personalidad una personalidad activa, inquieta y ambiciosa, fuerte motivacion interna para buscar nuevas oportunidades y desafíos.
                Mi hobby es hacer deporte tanto Basquet como Voley.
                Mi objetivo a largo plazo es poder interelacionar el curso de programacion con mi estudio de grado de Ingeneria, y asi poder destacar de los demas programadores e ingenieros.</p>
        </span>
    </div>
</div>